################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Week16 Unity Prototype new/Bin
/Week16 Unity Prototype new/.vs
/Week16 Unity Prototype new/obj
*.meta
/My assessment 3/UI/Library/Artifacts/e5/e5c496f6faed4aa990c922f29057503e
