################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Week16 Unity Prototype new/Bin
/Week16 Unity Prototype new/.vs
/Week16 Unity Prototype new/obj
*.meta
